#progressBar {
    appearance: none;
    position: relative;
    top: 34px;
    right: 575px;
}
#progressBar::-webkit-progress-bar {
    background:#ffffff;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}
#progressBar::-webkit-progress-value {
    border-radius:10px;
    background: #1d6a97;
    background: -webkit-linear-gradient(to right, #93cbf9, #1d6a97);
    background: linear-gradient(to right, #93c2f9, #1d6697);
    

}

.gif-img {
	position: relative;
	margin: -50px 0 0 20%;
    z-index: -1;
}