h1 {
  padding-top: 50px;
}

p {
  font-size: 20px;
  font-weight: 700;
}

.btn-open-popup {
  z-index: 1;
}

.tn-img {
  width: auto;
  height: auto;
  border: none;
  border-radius: 1px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.grid-container {
  text-align: center;
  height: 160px;
}

.div-item {
  position: relative;
  z-index: 3; 
}

.ori-img {
  width: auto;
  height: auto;
  border: none;
  border-radius: 1px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}


.grid-container {
  text-align: center;
  height: 160px;
}

.container{
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.img {
   overflow:hidden 
}

.tn_img {
  border-radius: 2%;
  margin: 1rem;
}

.btn-like {
  position: relative;
  left: 20px;
  bottom: 70px;
  z-index: 5;
  border: none;
  background: none;
}
.btn-img {
  float: left;
  display: block;
  width: 26px;
  height: 26px;
  border: none;
  z-index: 5;
  padding: 0;
  margin: 0;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal-body {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 1000px;
  height: 600px;

  padding: 40px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}

.modal-close {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 20px;
}

.modal-delete {
  position: absolute;
  cursor: pointer;
  right: 20px;
  bottom: 20px;
}

.modal-download {
  position: absolute;
  cursor: pointer;
  right: 55px;
  bottom: 20px;
}

.modal-items {
  display: grid;
  place-items: center;
}

.fade {
  animation: fadein 1s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}
