img{
  height: 300px;
  border: 10px;
  border-radius: 10px;

  margin-left: auto;
  margin-right: auto;
}

.container{
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: 1fr 1fr 1fr;
}
.img {
   overflow:hidden 
}
