<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <link rel="stylesheet" href="{% static 'mypage/css/style.css' %}">
</head>

{% include 'shared/_hp.html' %}
<body>
  <div class="grid-container">
    <h1> {{userid}}'s page </h1>
  </div>
    <div class="img">
      <div class="container">
        {% for img in images %}
        <div class="btn-open-popup">
          <img class="div-item" src="{{img.thumbnail}}" id="{{img.id}}">
          <img class="test ori-img" src="{{img.filename}}" alt="filename" style="width: 500px; display: none;">
          <p class="test input-text" style="display: none;">{{img.input_text}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="modal">
      <div class="modal-body fade">
        <div class="modal-close">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
            <line x1="18" y1="6" x2="6" y2="18" />
            <line x1="6" y1="6" x2="18" y2="18" />
          </svg>
        </div>
        {% if user.is_authenticated %}
        <diV class="modal-delete">
          <svg 
          width="24" 
          height="24"
          viewBox="0 0 512 512"
          xml:space="preserve" 
          xmlns="http://www.w3.org/2000/svg" 
          xmlns:xlink="http://www.w3.org/1999/xlink"> 
            <path d="M436,40h-81.716c-5.304,0-10.391-2.107-14.142-5.858L311.858,5.858C308.107,2.107,303.02,0,297.716,0h-83.432  c-5.304,0-10.391,2.107-14.142,5.858l-28.284,28.284C168.107,37.893,163.02,40,157.716,40H76c-22.091,0-40,17.909-40,40  s17.909,40,40,40h0v332c0,33.137,26.863,60,60,60h240c33.137,0,60-26.863,60-60V120c22.091,0,40-17.909,40-40S458.091,40,436,40z   M216,402c0,16.569-13.431,30-30,30s-30-13.431-30-30V190c0-16.569,13.431-30,30-30s30,13.431,30,30V402z M356,402  c0,16.569-13.431,30-30,30s-30-13.431-30-30V190c0-16.569,13.431-30,30-30s30,13.431,30,30V402z"/>
          </svg>
        </diV>
        {% endif %}
        <div class="modal-items">
        </div>
      </div>
    </div>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const body = document.querySelector('body');
  const modal = document.querySelector('.modal');
  const modalClose = document.querySelector('.modal-close');
  const itemDelete = document.querySelector('.modal-delete');
  const btnOpenPopupList = document.querySelectorAll('.btn-open-popup');
  const modalItem = document.querySelector('.modal-items');

  btnOpenPopupList.forEach(btnOpenPopup =>
    btnOpenPopup.addEventListener('click', (e) => {
      modal.classList.toggle('show');

      if (modal.classList.contains('show')) {
        body.style.overflow = 'hidden';
      };
      var del_item = e.currentTarget.querySelector('.div-item');
      var originImg = e.currentTarget.querySelector('.ori-img');
      var testImg = originImg.cloneNode(true);
      var inputText = e.currentTarget.querySelector('.input-text');
      var testText = inputText.cloneNode(true);

      testImg.style.display = 'block';
      testText.style.display = 'block';
      modalItem.appendChild(testText);
      modalItem.appendChild(testImg);
      
      itemDelete.addEventListener('click', (event) => {
        console.log(del_item.id);
        axios.post("/mypage/{{userid}}/delete_item/", {'del_item':del_item.id})
              .then(function () {confirm("정말 삭제하시겠습니까?");} )
              .then(check_deletion)
              .catch(function (error) {console.log(error)} ) 
        })
      })
  );

  function check_deletion(res) {
    result = res.data['result'];
    if (result == "successful") {
      location.reload();
    }

  }

  modalClose.addEventListener('click', (event) => {
    modal.classList.toggle('show');
    while (modalItem.firstChild) {
      modalItem.removeChild(modalItem.firstChild);
    } 
    if (!modal.classList.contains('show')) {
        body.style.overflow = 'auto';
    }
  });

  modal.addEventListener('click', (event) => {
    if (event.target === modal) {
      modal.classList.toggle('show');
      while (modalItem.firstChild) {
        modalItem.removeChild(modalItem.firstChild);
      } 
      if (!modal.classList.contains('show')) {
          body.style.overflow = 'auto';
      }
    }
  });

</script>
</html>