<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <link rel="stylesheet" href="{% static 'mypage/css/style.css' %}">
</head>

{% include 'shared/_hp.html' %}
<body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    var target
    function like_count_on(e, artid) {
      target = e
      axios.post('/mypage/art_like/', {'artid':artid})
      .then( draw_like_count )
      .catch(function (error) { console.log(error) });
    }
    function draw_like_count(res) { 
      like_count = res.data['like_count']
      is_like = res.data['is_like']

      document.getElementById('likecount').innerText = like_count

      if (is_like) {
        target.children[0].src = 'https://cdn-icons-png.flaticon.com/512/138/138533.png'
      } else {
        target.children[0].src = 'https://cdn-icons-png.flaticon.com/512/138/138406.png'
      }
    }
  </script>
  <div class="grid-container">
    <h1> {{userid}}'s page </h1>
  </div>

    <div class="img">
      <div class="container">

      {% for img, islike in images %}
        <div class="btn-open-popup">
          <img class="tn-img" src="{{img.thumbnail}}">
          <img class="test ori-img" src="{{img.filename}}" alt="filename" style="width: 500px; display: none;">
          <p class="test input-text" style="display: none;">{{img.input_text}}</p>
        </div>
          <b id="likecount">{{img.like_count}}</b>
        <p>
          <button type="button" class="btn-like" onclick="like_count_on(this, '{{img.id}}')">
          {% if islike %}
            <img class="btn-img" src="https://cdn-icons-png.flaticon.com/512/138/138533.png">
          {% else %}
            <img class="btn-img" src="https://cdn-icons-png.flaticon.com/512/138/138406.png">
          {% endif %}
          </button>
        </p>
        
        {% endfor %}
      </div>
    </div>
    
    <div class="modal">
      <div class="modal-body fade">
        <div class="modal-close">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round">
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
          </svg>
        </div>
        <div class="modal-items">

        </div>
      </div>
    </div>
    
</body>
<script>
  const body = document.querySelector('body');
  const modal = document.querySelector('.modal');
  const modalClose = document.querySelector('.modal-close');
  const btnOpenPopupList = document.querySelectorAll('.btn-open-popup');
  const modalItem = document.querySelector('.modal-items');

  btnOpenPopupList.forEach(btnOpenPopup =>
    btnOpenPopup.addEventListener('click', (e) => {
      modal.classList.toggle('show');

      if (modal.classList.contains('show')) {
        body.style.overflow = 'hidden';
      }
      var originImg = e.currentTarget.querySelector('.ori-img');
      var testImg = originImg.cloneNode(true)
      var inputText = e.currentTarget.querySelector('.input-text');
      var testText = inputText.cloneNode(true)
      var btn_like = e.currentTarget.querySelector('.div-items') 

      testImg.style.display = 'block'
      testText.style.display = 'block'
      modalItem.appendChild(testText)
      modalItem.appendChild(testImg)

      btn_like.addEventListener('click', (event) => {
        console.log(btn_like.id);
        axios.post("mypage/{{userid}}/like_count/", {'btn_like':btn_like.id})
                  .then( draw_like_count )
                  .catch(function (error) { console.log(error) });
      }
      )
    })
  );

  modalClose.addEventListener('click', (event) => {
    modal.classList.toggle('show');
    while (modalItem.firstChild) {
      modalItem.removeChild(modalItem.firstChild);
    } 
    if (!modal.classList.contains('show')) {
        body.style.overflow = 'auto';
    }
  });

  modal.addEventListener('click', (event) => {
    if (event.target === modal) {
      modal.classList.toggle('show');
      while (modalItem.firstChild) {
        modalItem.removeChild(modalItem.firstChild);
      } 
      if (!modal.classList.contains('show')) {
          body.style.overflow = 'auto';
      }
    }
  });
</script>
</html>