<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <link rel="stylesheet" href="{% static 'mypage/css/style.css' %}">
</head>

{% include 'shared/_hp.html' %}
<body>
  <h1> My repository(page) </h1>
  <div class="img">
    <div class="scale">
      <img src="https://github.com/ayeoong/midproject/blob/main/hihihi/1.png?raw=true" alt="error">
      <img src="https://github.com/ayeoong/midproject/blob/main/hihihi/2.png?raw=true" alt="error">
      <img src="https://github.com/ayeoong/midproject/blob/main/hihihi/3.png?raw=true" alt="error">
      <img src="https://github.com/ayeoong/midproject/blob/main/hihihi/4.png?raw=true" alt="error">
      <img src="https://github.com/ayeoong/midproject/blob/main/hihihi/5.png?raw=true" alt="error">
      <img src="https://github.com/ayeoong/midproject/blob/main/hihihi/6.png?raw=true" alt="error">
      <img src="https://github.com/ayeoong/midproject/blob/main/hihihi/7.png?raw=true" alt="error">
      <img src="https://github.com/ayeoong/midproject/blob/main/hihihi/8.png?raw=true" alt="error">
      <img src="https://github.com/ayeoong/midproject/blob/main/hihihi/9.png?raw=true" alt="error">
      <img src="https://github.com/ayeoong/midproject/blob/main/hihihi/10.png?raw=true" alt="error">
    </div>

  </div>
</body>
</html>