<html>
{% load static %}
  <header class="grid-item header">
    {% include 'shared/_hp.html' %}
    <link rel="stylesheet" href="{% static 'salon/css/style.css' %}">
  </header>
  <body>
    <div class="grid-container">
    </div>
      
    <main class="grid-item main">
      {% for keyword in keywords %}
      <p>{{ keyword }}</p>
      <div class="items">
        {% for img in image %}
        <div class="item item{{forloop.counter}}"><img class="sample-img" src="{{img.thumbnail}}" alt="thumbnail"></div>
        {% endfor %}
      </div>
      <div class="items">
        <audio id="myAudio" controls style="display: none">
          <source src="/media/sample.mp3" type="audio.mpeg">
        </audio>
        <div class="item item-music" onclick="music_button('/media/sample.mp3'); togglePlay();">Click to Listen!<br><strong>Music1</strong></div>
        <div class="item item-music" onclick="music_button('/media/sample2.mp3'); togglePlay();">Click to Listen!<br><strong>Music2</strong></div>
        <div class="item item-music" onclick="music_button('/media/sample3.mp3'); togglePlay();">Click to Listen!<br><strong>Music3</strong></div>
      </div>
      <hr>
      {% endfor %}
    </main> 

  <script src="{% static 'salon/js/scroll.js' %}"></script>
  <script src="{% static 'salon/js/index.js' %}"></script>
  <script>
    var myAudio = document.getElementById("myAudio");
    var isPlaying = false;

    function togglePlay() {
      isPlaying ? myAudio.pause() : myAudio.play();
    };

    myAudio.onplaying = function() {
      isPlaying = true;
    };
    myAudio.onpause = function() {
      isPlaying = false;
    };
  
  </script>
  </body>
</div>
</body>
</html>